<footer id="footer" class="main-footer" data-hook>
  <div id="footer-left" class="main-footer-left" data-hook>
    <p><%= Spree.t :powered_by  %> <%= link_to 'Spree', 'http://spreecommerce.com/' %></p>
  </div>
  <div id="footer-right" class="main-footer-right" data-hook></div>
</footer>
